In [1]:
import sqlite3
from tkinter import Tk, filedialog

# Open file dialog to select the database file
Tk().withdraw()
file_path = filedialog.askopenfilename(title="Select SQLite database", filetypes=[("SQLite DB", "*.sqlite *.db")])

if file_path:
    conn = sqlite3.connect(file_path)
    print("Opened database successfully!")

    # Example: list tables
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    print("Tables:", tables)

   #  conn.close()
else:
    print("No file selected.")

Opened database successfully!
Tables: [('Player',), ('Extra_Runs',), ('Batsman_Scored',), ('Batting_Style',), ('Bowling_Style',), ('Country',), ('Season',), ('City',), ('Outcome',), ('Win_By',), ('Wicket_Taken',), ('Venue',), ('Extra_Type',), ('Out_Type',), ('Toss_Decision',), ('Umpire',), ('Team',), ('Ball_by_Ball',), ('sysdiagrams',), ('sqlite_sequence',), ('Match',), ('Rolee',), ('Player_Match',)]

In [2]:
# Read SQL query for getting all the tables of database into a dataframe
import pandas as pd
tables = pd.read_sql("""SELECT * 
                    FROM sqlite_master
                    WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,Player,Player,2,CREATE TABLE [Player] (\n\t[Player_Id]\tintege...
1,table,Extra_Runs,Extra_Runs,3,CREATE TABLE [Extra_Runs] (\n\t[Match_Id]\tint...
2,table,Batsman_Scored,Batsman_Scored,7,CREATE TABLE [Batsman_Scored] (\n\t[Match_Id]\...
3,table,Batting_Style,Batting_Style,10,CREATE TABLE [Batting_Style] (\n\t[Batting_Id]...
4,table,Bowling_Style,Bowling_Style,11,CREATE TABLE [Bowling_Style] (\n\t[Bowling_Id]...
5,table,Country,Country,12,CREATE TABLE [Country] (\n\t[Country_Id]\tinte...
6,table,Season,Season,14,CREATE TABLE [Season] (\n\t[Season_Id]\tintege...
7,table,City,City,15,CREATE TABLE [City] (\n\t[City_Id]\tinteger NO...
8,table,Outcome,Outcome,16,CREATE TABLE [Outcome] (\n\t[Outcome_Id]\tinte...
9,table,Win_By,Win_By,17,CREATE TABLE [Win_By] (\n\t[Win_Id]\tinteger N...
10,table,Wicket_Taken,Wicket_Taken,18,CREATE TABLE [Wicket_Taken] (\n\t[Match_Id]\ti...
11,table,Venue,Venue,21,CREATE TABLE [Venue] (\n\t[Venue_Id]\tinteger ...
12,table,Extra_Type,Extra_Type,23,CREATE TABLE [Extra_Type] (\n\t[Extra_Id]\tint...
13,table,Out_Type,Out_Type,24,CREATE TABLE [Out_Type] (\n\t[Out_Id]\tinteger...
14,table,Toss_Decision,Toss_Decision,25,CREATE TABLE [Toss_Decision] (\n\t[Toss_Id]\ti...
15,table,Umpire,Umpire,26,CREATE TABLE [Umpire] (\n\t[Umpire_Id]\tintege...
16,table,Team,Team,27,CREATE TABLE [Team] (\n\t[Team_Id]\tinteger NO...
17,table,Ball_by_Ball,Ball_by_Ball,28,CREATE TABLE [Ball_by_Ball] (\n\t[Match_Id]\ti...
18,table,sysdiagrams,sysdiagrams,31,CREATE TABLE [sysdiagrams] (\n\t[name]\tnvarch...
19,table,sqlite_sequence,sqlite_sequence,32,"CREATE TABLE sqlite_sequence(name,seq)"
20,table,Match,Match,34,CREATE TABLE [Match] (\n\t[Match_Id]\tinteger ...
21,table,Rolee,Rolee,36,CREATE TABLE [Rolee] (\n\t[Role_Id]\tinteger N...
22,table,Player_Match,Player_Match,37,CREATE TABLE [Player_Match] (\n\t[Match_Id]\ti...

In [3]:
# Read Table from the database into dataframe
matches = pd.read_sql("""SELECT *
                        FROM Match;""", conn)

# Print Table info
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match_Id          577 non-null    int64
 1   Team_1            577 non-null    int64
 2   Team_2            577 non-null    int64
 3   Match_Date        577 non-null    object
 4   Season_Id         577 non-null    int64
 5   Venue_Id          577 non-null    int64
 6   Toss_Winner       577 non-null    int64
 7   Toss_Decide       577 non-null    int64
 8   Win_Type          577 non-null    int64
 9   Win_Margin        568 non-null    float64
 10  Outcome_type      577 non-null    int64
 11  Match_Winner      574 non-null    float64
 12  Man_of_the_Match  574 non-null    float64
dtypes: float64(3), int64(9), object(1)
memory usage: 58.7+ KB